* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-width: 1140px;
}

.night_mode {
    background-color: #1e1e1e;
    color: white;
}

svg {
    display: block;
    background-color: grey;
    width: 100%;
    margin: 0 auto 10px;
}

.curr {
    fill: red;
}

.edge {
    fill: green;
}

.middle {
    fill: blue;
}

rect {
    fill: blue;
    stroke: black;
}

rect.sorted {
    fill: orange;
}

rect.edge {
    fill: purple;
}

rect.pivot {
    fill: pink;
}

rect.curr {
    fill: green;
}

rect.min {
    fill: red;
}

rect.next {
    fill: red;
}

text {
    fill: white;
}

.hidden {
    display: none;
}