hr {
    margin: 5px 0;
    background-color: grey;
}

input#bar_count,
input#delay {
    width: 90%;
}

.left_padded {
    padding: 0 0 5px 30px;
    margin: 0px;
}

.not_padded {
    padding: 0px;
    margin: 0px;
}

.form-check-input {
    margin-left: -.25rem;
}

button#sort,
button#apply {
    margin: auto;
    width: 90%;
}

#errors{
    color: #ff0000;
    font-size: .9rem;
}

button#generate {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

p.heading {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}

span.data {
    font-size: .7rem;
    font-weight: 100;
}

input#values {
    padding: 5px 5px 5px 5px;
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}